/* ╭─ ♪ Symphony ─╮
   │  Generated   │
   ╰──────────────╯
   Theme: Omarchy osaka-jade (omarchy) */

@define-color background #111C18;
@define-color foreground #C1C497;
@define-color black #23372B;
@define-color red #FF5345;
@define-color green #549E6A;
@define-color yellow #459451;
@define-color blue #509475;
@define-color magenta #D2689C;
@define-color cyan #2DD5B7;
@define-color white #F6F5DD;
@define-color bright_black #53685B;
@define-color bright_white #9EEBB3;
@define-color accent_bg_color #509475;
@define-color accent_fg_color #111C18;
@define-color accent_color #509475;
@define-color window_bg_color #111C18;
@define-color window_fg_color #C1C497;
@define-color view_bg_color #111C18;
@define-color view_fg_color #C1C497;
@define-color sidebar_bg_color #25302c;
@define-color sidebar_fg_color #C1C497;
@define-color sidebar_backdrop_color #111C18;
@define-color sidebar_shade_color #111C18;
@define-color headerbar_bg_color #25302c;
@define-color headerbar_fg_color #C1C497;
@define-color headerbar_backdrop_color #111C18;
@define-color headerbar_shade_color #111C18;
@define-color card_bg_color #25302c;
@define-color card_fg_color #C1C497;
@define-color popover_bg_color #25302c;
@define-color popover_fg_color #C1C497;
@define-color dialog_bg_color #25302c;
@define-color dialog_fg_color #C1C497;
@define-color destructive_bg_color #FF5345;
@define-color destructive_fg_color #111C18;
@define-color destructive_color #FF5345;
@define-color success_bg_color #549E6A;
@define-color success_fg_color #111C18;
@define-color success_color #549E6A;
@define-color warning_bg_color #459451;
@define-color warning_fg_color #111C18;
@define-color warning_color #459451;
@define-color error_bg_color #FF5345;
@define-color error_fg_color #111C18;
@define-color error_color #FF5345;
@define-color borders alpha(@foreground, 0.1);
@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @black;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;
@define-color insensitive_bg_color @background;
@define-color insensitive_fg_color @bright_black;
@define-color insensitive_base_color @black;
messagedialog { background-color: @dialog_bg_color; }
messagedialog label { color: @dialog_fg_color; }
banner revealer widget { background: @bright_black; padding: 5px; color: @foreground; }
alertdialog.background { background-color: @dialog_bg_color; color: @dialog_fg_color; }
alertdialog box { background-color: @dialog_bg_color; }
alertdialog label { color: @dialog_fg_color; }
toast { background-color: @card_bg_color; color: @foreground; }
