/* ╭─ ♪ Symphony ─╮
   │  Generated   │
   ╰──────────────╯
   Theme: Omarchy demon (omarchy) */

@define-color background #0F0F0F;
@define-color foreground #E0D4C2;
@define-color black #0F0F0F;
@define-color red #8B0000;
@define-color green #3A403B;
@define-color yellow #E24C00;
@define-color blue #4A4E3D;
@define-color magenta #7B726A;
@define-color cyan #7A7D80;
@define-color white #BDB5AA;
@define-color bright_black #292828;
@define-color bright_white #BDB5AA;
@define-color accent_bg_color #4A4E3D;
@define-color accent_fg_color #0F0F0F;
@define-color accent_color #4A4E3D;
@define-color window_bg_color #0F0F0F;
@define-color window_fg_color #E0D4C2;
@define-color view_bg_color #0F0F0F;
@define-color view_fg_color #E0D4C2;
@define-color sidebar_bg_color #232323;
@define-color sidebar_fg_color #E0D4C2;
@define-color sidebar_backdrop_color #0F0F0F;
@define-color sidebar_shade_color #0F0F0F;
@define-color headerbar_bg_color #232323;
@define-color headerbar_fg_color #E0D4C2;
@define-color headerbar_backdrop_color #0F0F0F;
@define-color headerbar_shade_color #0F0F0F;
@define-color card_bg_color #232323;
@define-color card_fg_color #E0D4C2;
@define-color popover_bg_color #232323;
@define-color popover_fg_color #E0D4C2;
@define-color dialog_bg_color #232323;
@define-color dialog_fg_color #E0D4C2;
@define-color destructive_bg_color #8B0000;
@define-color destructive_fg_color #0F0F0F;
@define-color destructive_color #8B0000;
@define-color success_bg_color #3A403B;
@define-color success_fg_color #0F0F0F;
@define-color success_color #3A403B;
@define-color warning_bg_color #E24C00;
@define-color warning_fg_color #0F0F0F;
@define-color warning_color #E24C00;
@define-color error_bg_color #8B0000;
@define-color error_fg_color #0F0F0F;
@define-color error_color #8B0000;
@define-color borders alpha(@foreground, 0.1);
@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @black;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;
@define-color insensitive_bg_color @background;
@define-color insensitive_fg_color @bright_black;
@define-color insensitive_base_color @black;
messagedialog { background-color: @dialog_bg_color; }
messagedialog label { color: @dialog_fg_color; }
banner revealer widget { background: @bright_black; padding: 5px; color: @foreground; }
alertdialog.background { background-color: @dialog_bg_color; color: @dialog_fg_color; }
alertdialog box { background-color: @dialog_bg_color; }
alertdialog label { color: @dialog_fg_color; }
toast { background-color: @card_bg_color; color: @foreground; }
